<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = 'stylesheet' type='text/css' href = '{% static "style.css" %}'>
</head>
<body>
<div class="wrapper">
    <div class="row">
        {% for post in page_obj %}
        <div class="col-md-4">
            <h2>{{ post.title }}</h2>
            <img src="{{ post.image.url }}"  alt=""/>
            <p>{{ post.text }}</p>
            <p>{{ post.date_posted }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<footer class="footer">
    <nav aria-label="Page navigation">
        {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <button>Предыдущая</button>
        </a>
        {% else %}
        <a class="page-link" href="#" aria-label="Previous">
            <button>Предыдущая</button>
        </a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == 1 %}
        <button><a class="page-link" href="#">{{ i }}</a></button>
        {% else %}
        <button><a class="page-link" href="?page={{ i }}">{{ i }}</a></button>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <button>Следующая</button>
        </a>
        {% else %}
        <a class="page-link" href="#" aria-label="Next">
            <button>Текущая</button>
        </a>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="count_elements_on_page">Количество элементов на странице:</label>
            <input type="number" id="count_elements_on_page" name="count_elements_on_page" maxlength="3" required>
            <button type="submit">Применить</button>
        </form>
    </nav>
</footer>
</body>
</html>